:root {
  --accent-color: #2196f3;
  --background: #2f303a;
  --text-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1, 5;
}

.logo img {
}

.header {
  display: flex;
  align-items: center;
  text-align: justify;
}
.header a {
  color: #000;
}
.header a:hover {
  color: var(--accent-color);
}

.header-item {
  font-size: 14px;
  font-weight: medium;
  text-decoration: none;
}

.section-one {
  text-align: center;
  color: #fff;
  font-size: 44px;
  line-height: 136%;
  background-color: var(--background);
}

.button-section-one {
  color: #fff;
  background-color: var(--accent-color);
  width: 216px;
  height: 50px;
}

.section-two {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}

section-two h5 {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  color: #000;
}

h6 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.section-three {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.footer {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: var(--background);
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: var(--accent-color);
}
