body {
  font-family: "Roboto", sans-serif;
}

:root {
  --accent-color: #2196f3;
  --background: #2f303a;
  --text-color: #757575;
}

.header {
  display: flex;
  align-items: center;
  text-align: justify;
  line-height: 1,17;
}

.header-nav-p a {
  color: black;
}
.header-nav-p a:hover {
  color: var(--accent-color);
}

.button-item {
  color: #fff;
  background-color: var(--accent-color);
  width: 112px;
  height: 38px;
  line-height: 1.6;
}

.gallery-item figcaption {
  line-height: 2;
}

.footer-portfolio {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: var(--background);
}
.footer-portfolio a {
  color: #fff;
  line-height: 1.7;
}
.footer-portfolio a:hover {
  color: var(--accent-color);
}
